[Unit]
Description=ISW automatic Cooler Boost
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/local/lib/isw-auto/isw --auto-boost --on 90 --off 80 --gpu-on 82 --gpu-off 72 --cool-seconds 60
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
